@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-v21-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-v21-latin-700.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v19-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v19-latin-700.woff') format('woff');
}
:root {
    --Color-primary-100:#000000;
    --Color-primary-200:#f8f8f8;
    --Color-primary-300:#DF4E3C;
    --Color-secondary-100:#AEAEAE;
    --Color-secondary-200:#8D8D8D;
    --Color-secondary-300:#BDBDBD;
    --Color-secondary-400:#C4C4C4;
    --Color-secondary-500:#ffffff;
    --Color-secondary-600:#959595;
    --Color-secondary-700:#507A36;
}
.header {
    max-width: 1440px;
    min-height: 688px;
    background-image: url("../image/bg.jpg"),linear-gradient(90deg, rgba(19,20,21,1) 20%, rgba(44,49,52,1) 30%);
    background-repeat: no-repeat;
    background-size: 1440px auto;
    padding-bottom: 150px;
}
.header-top {
    margin-bottom: 136px;
}
.nav-link-header {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.title {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
}
.text {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

}
.btn {
    max-width: 296px;
    border-radius: 15px;
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: var(--Color-primary-200);
    border: 2px solid var(--Color-primary-200);

}
.btn:hover {
    color: var(--Color-primary-300);
    border-color: var(--Color-primary-300);
}
.title-offers {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
}
.offers {
    max-width: 1440px;
    width: 100%;
    padding-top: 98px;
    padding-bottom: 120px;
    margin: 0 auto;
}
.dropdown {
    max-width: 170px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--Color-secondary-300);
}
.dropdown-item-offers,
.dropdown-toggle {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--Color-primary-100);
}
.dropdown-toggle::after {
    margin-left: 5.255em;
}
.dropdown-toggle:hover {
    color: var(--Color-primary-100);
}
.list-list {
    max-width: 1050px;
    width: 100%;
}
.btn-outline-success {
    color: var(--Color-primary-200);
    border: 2px solid var(--Color-primary-300);
    border-radius: 15px;
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    background-color: var(--Color-primary-300);
    max-width: 290px;
    width: 100%;
}
.btn-outline-success:hover {
    background-color: var(--Color-primary-100);
    color: var(--Color-primary-200);
    border: 2px solid var(--Color-primary-100);
}
.dropdown-item-offers:hover {
    color: var(--Color-primary-300);
}
.dropdown:hover {
    border-color: var(--Color-primary-300);
}
.cars {
    margin-bottom: 25px;
}
.form-check {
    max-width: 200px;
    width: 100%;
}
.dropdown-filter {
    max-width: 280px;
    width: 100%;
}
.form-check-input:checked {
    background-color: var(--Color-primary-300);
    border-color: var(--Color-primary-300);
}
.form-check-label {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--Color-secondary-200);
}
.form-check-input:checked+.form-check-label {
    color: var(--Color-primary-300);
}
.span-button {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--Color-primary-100);
    position: relative;
}
.span-button::before {
   content: url("../image/filter.svg");
    position: absolute;
    top: 2px;
    left: 56px;
}
.btn-filter {
    border: none;
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--Color-secondary-200);
    text-decoration: none;

}
.span-button {
    margin-right: 37px;
}
a:hover {
    color: var(--Color-primary-100);
}
.btn-filter:hover {
    color: var(--Color-primary-300);
}
.dropdown-menu-filter {
    max-width: 191px;
    width: 100%;
    border: none;
}
.dropdown-item-filter {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--Color-primary-100);

}
.dropdown-item-filter:hover {
    color: var(--Color-primary-300);
}
.card {
    max-width: 295px;
    width: 100%;
    padding-bottom: 35px;
    min-height: 366px;
    position: relative;
    margin-bottom: 20px;
    background-color: var(--Color-secondary-500);
    box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);
    border: none;
    margin-right: 38px;
}
.card:hover .span-card-title {
    border-bottom: 1px solid var(--Color-primary-100);
}
.card-sold::before {
    content: 'SOLD';
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: var(--Color-secondary-500);
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
}
.card-img-top {
    margin-bottom: 20px;
}
.new {
    max-width: 66px;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: var(--Color-primary-100);
    color: var(--Color-primary-200);
    position: absolute;
    top: 43%;
    left: 32px;
    transform: translate(-50%);
}
.text-new {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--Color-primary-200);
    margin: 0;
}
.card-body {
    padding-left: 20px;
    margin: 0 auto;
}
.card-title {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: var(--Color-secondary-200);

}
.span-card-title {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: var(--Color-primary-100);
    margin-left: 8px;
}
.card-text-block {
    max-width: 205px;
    width: 100%;
    margin-bottom: 26px;
}
.card-text {
    margin: 0;
    position: relative;
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: var(--Color-secondary-200);
}
.card-text::before {
    content: "";
    display: block;
    width: 1px;
    height: 18px;
    background-color: var(--Color-secondary-200);
    position: absolute;
    top: 0;
    right: -8px;
}
.card-text-last {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: var(--Color-secondary-200);
}
.price-car {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
    color: var(--Color-primary-100);
}
.reg {
    max-width: 1440px;
}
.title-reg {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: var(--Color-primary-200);
}
.text-reg {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--Color-primary-200);
}
.form-control {
    max-width: 505px;
    border: 1px solid var(--Color-primary-200);
    border-radius: 15px;
    color: var(--Color-primary-200);
}
.form-control::placeholder {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--Color-primary-200);
}
.button-reg {
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--Color-primary-100);
    max-width: 190px;
    border-radius: 15px;
    background-color: var(--Color-primary-200);
    border: none;
}
.form-control:valid {
    border: 1px solid var(--Color-secondary-700);
    color: var(--Color-secondary-700);
    background-image: url("../image/vallid.svg");
    background-repeat: no-repeat;
    background-position: 473px 20px;
}
.form-control:invalid {
    border: 1px solid var(--Color-primary-300);
    color: var(--Color-primary-300);
    background-image: url("../image/invalid.svg");
    background-repeat: no-repeat;
    background-position: 473px 20px;
}

.button-reg:hover {
    background-color: transparent;
    border: 1px solid var(--Color-primary-200);
    color: var(--Color-primary-200);
}
.questions {
    max-width: 1440px;
    color: var(--Color-primary-200);
    padding-top: 120px;
    padding-bottom: 200px;
}
.title-questions {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    color: var(--Color-secondary-100);
}
.accordion-item {
    border: none;
    border-bottom: 1px solid var(--Color-secondary-400);
}
.accordion-button:not(.collapsed) {
    color: var(--Color-primary-300);
    background-color: var(--Color-primary-200);
}
.list-group-item {
    border: none;
    background-color: var(--Color-secondary-500);
    box-shadow: 0 0 18px rgba(68, 68, 68, 0.09);
}
.accordion-button::after {
    background-image: url("../image/plus.svg");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("../image/minus.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    max-width: 1400px;
}
@media all and (max-width: 1150px){
    .list-list,
    .navbar-collapse {
        flex-wrap: wrap;
    }


}
@media all and (max-width: 995px){
    .block-cars {
        flex-direction: column;
        justify-content: center;
    }
    .card {
        margin-right: 0;
    }
    .form-reg {
        flex-direction: column;
    }
    .form-control {
        margin-bottom: 10px;
    }

}
@media all and (max-width: 450px){
    .list-list {
        justify-content: center;
    }
}